.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
}

.card {
  text-align: center;
  margin-bottom: 20px;
}

.card:hover {
  color: rgb(0, 191, 255);
}

.icon {
  font-size: 80px;
  text-align: center;
}
