<nav class="navbar">
  <div class="container-logo">
    <a href="#">TRAVEL-AGENCY</a>
  </div>
  <div class="container-items">
    <ul>
      <li><a class="items-links" href="">Home</a></li>
      <li><a class="items-links" href="">About</a></li>
      <li><a class="items-links" href="">Tours</a></li>
      <li><a class="items-links" href="">Services</a></li>
      <li><a class="items-links" href="">Destination</a></li>
      <li><a class="items-links" href="">Reviews</a></li>
      <li><a class="items-links" href="">Contact</a></li>
    </ul>
  </div>
</nav>

<style>
  a {
    color: white;
    text-decoration: none;
  }

  ul li {
    list-style: none;
  }

  .navbar {
    display: flex;
    background-color: rgb(0, 191, 255);
    justify-content: space-between;
    border-radius: 0px 0px 15px 15px;
  }

  .container-logo {
    margin: auto 15px;
    text-align: left;
    font-weight: 600;
  }

  .container-items ul {
    display: flex;
  }

  .items-links {
    margin: 0px 15px 0px 0px;
    font-weight: 600;
  }
</style>
