<section>
  <div class="container">
    <div class="stats">
      <p class="number">7000</p>
      <p>Tourist activities</p>
    </div>
    <div class="stats">
      <p class="number">1000</p>
      <p>Hotels available</p>
    </div>
    <div class="stats">
      <p class="number">5000</p>
      <p>Tourist destination</p>
    </div>
  </div>
</section>

<style>
  section {
    background-image: url("/stats.png");
    height: 500px;
    border-radius: 15px;
    background-size: cover;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    display: flex;
    text-align: center;
    gap: 20px;
    gap: 50px;
  }

  .stats {
    padding: 20px;
    margin: 0px 20px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
  }

  .stats p {
    margin: 0;
  }

  .number {
    font-size: 50px;
    margin: 0;
    padding-bottom: 12px;
  }
</style>
